<% if flash[:noticecart] %>
    <div class="notice" style="color:green;"><%= flash[:noticecart] %></div>
 <% end %>
 <% if flash[:noticecart2] %>
    <div class="notice" style="color:green;"><%= flash[:noticecart] %></div>
 <% end %>