@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



.albumPrikazi{
	cursor: pointer; 
}

#gumbDodajVKosarico{
	cursor: pointer;
}

body {
	background-color:white;
	font-family:Verdana, Geneva, sans-serif;
	width: 960px;
	height: auto;
	position:relative;
	margin-left: auto;
    margin-right: auto;
}
.searchB {
	position: absolute;
	top: 5px;
	right: 0px;
	

}
#logo {
	margin-top:20px;
	margin-left:10px;
	width:300px;
}

#search {
	float:right;
	display:inline-block;
	margin-right: 10px;
}

#search a{
	color:#98CDCE;
}

nav {
	position:absolute;
	top:300px;
	width:960px;
	left:-20px;
	display:inline-block;
	z-index: 3;
}

nav a{
	text-decoration:none;
	text-align:center;
	font-size:24px;
	font-family:Arial, Geneva, sans-serif;
	color:#333;
	margin-left:71px;
}

nav ul{
	display:inline;
}

nav ul li{
	display:inline-block;
	text-decoration:none;
	position: relative;
	float: left;
}

nav ul li ul {
	display: none;
}

nav a:hover{
	
	text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
	
	-webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.500, 0.500); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.500, 0.500); 
    -ms-transition: all 200ms cubic-bezier(0.250, 0.250, 0.500, 0.500); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.500, 0.500); 
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.500, 0.500); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.500, 0.500); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.500, 0.500); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.250, 0.500, 0.500); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.500, 0.500); 
}


section {
	position:absolute;
	padding-bottom:100px;
	top:360px;
	height:auto;
	width:960px; 

}

section h1{
	text-align:center;
	font-family:Arial, Geneva, sans-serif;
	color:#98CDCE;
	font-weight:normal;
}

section h2{
	text-align: left;
	font-size: 130%;
	font-family:Arial, Geneva, sans-serif;
	color:#98CDCE;
	font-weight:normal;
}

article{
		
}

.info {
 	caption-side: bottom;	
 	border-spacing: 0;
 	border-collapse:collapse;
 	border-style: solid;
 	
}

.info caption {
	font-size: smaller;
	font-style: italic;
}

.info td, th {
	border: solid 1px black;
	padding: 2px;
}

.info thead {
	color:#98CDCE;
}

section table textarea {
	vertical-align: top;
}

section p{
	font-family:Arial, Helvetica, sans-serif;

	color:#333;
}

.info tbody {
	text-align: center;
}
.info tbody th {
	color: #98CDCE;
	
}


section img{	
	border:black solid 1px;

}
	

figure {
	text-align:center;
	display:inline-block;
}

figcaption{
	font-size:smaller;
}
footer {
	position:fixed;
	
	bottom:0px;
	width:960px;
	background-color:#5E5F57;
	height:80px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	z-index:1;
	
}
footer p{
	text-align:center;
}

footer a{
	color:inherit;
}

footer ul {
	position:absolute;
	margin-top:30px;
}
footer ul li {
	margin-left:90px;
	margin-right:40px;
}
footer ul li a{
	text-decoration:none;
}



footer ul{
	display:inline-block;
}

footer ul li{
	display:inline-block;
	text-decoration:none;
}



.left{
	text-align:right;
}

.right{
	text-align:left;
}



.album {
	font-style: italic;
	font-size: small;
}

.izvajalec {
	font-size: medium;
}
.cena {
	font-weight: bold;
}

ol {
	list-style-type: decimal;
	float:right;
	width:600px;
	margin-right:150px;
	margin-top:-200px;
	
}

ol li {
	padding:10px;
}

audio{
	float:right;
}

.postavke {
	border-width:3px;
  	border-style: solid ;
}
.postavke tfoot {
	text-align: right;
	font-size: large;
	font-weight: bold;
}
.postavke thead {
	font-size:large;
	color: #98CDCE;
	text-align: center;
	font-weight: bold;
}
.postavke tbody {

	text-align: center;
}

.gumb_kosarica {
	float: right;
	margin: 10px;
	width: 200px;
}
.album_nodec {
	text-decoration: none;
	color: black;
}

section table {
	width: 960px;
	border: 3px solid black;
	border-collapse: collapse;
}
section td, th {
	border: 1px solid black;
	border-collapse: collapse;
}

section table thead {
	
	color: #98CDCE;
	text-align: center;
	font-weight: bold;
	
}

section table tbody {
	text-align: right;
}

section dd {
	margin-left: 0px;
	font-size: small;
}

.dodajVKosarico {
	margin-left:-10px;
	width:150px;
}

#mask {
	display: none;
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	z-index: 999;
}

.login-popup{
	background-color: #aaa;
	display:none;
	padding: 10px; 	
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px;
	-moz-box-shadow: 0px 0px 20px; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px; /* Safari, Chrome */
}


form.signin .textbox {
	border: 0px;
}


form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
	font-size: 0.2em;
}

form.signin .textbox span { 
	display:block;
}

.loginHeader {
	text-align:center;
	font-family:Arial, Geneva, sans-serif;
	color:#98CDCE;
	font-weight:normal;
}
.loginName {
	font-family:Arial, Geneva, sans-serif;
	font-size: small;
}


