<h1>Splošni pogoji</h1><p>S spletno stranjo www.hildinatrgovina.si upravlja Hilda.</p>
<p>Podatki podjetja:<br />polno ime:<br />naslov:<br />
matična števillka:<br />davčna številka:<br />osnovni kapital:<br />TRR:<br /></p><h2>Splošno o hildinatrgovina.si</h2>
<p>Spletna stran hildinatrgovina.si je namenjena vsem, ki jih zanima ugoden in hiternakup LP in CD plošč.</p><h2>Načini plačila</h2>
<p>Spletni nakup je možen trenutno preko Pošte Slovenije ali preko nakazila na naš TRR.</p>
<h2>Uporaba slik</h2><p>Slike so pod licenco creative commons.</p>