<h1>FAQ</h1><h2>V kolikšnem času pričakujem pošiljko?</h2>
<p>Pošiljko pričakujete v roku 2-7 dni.</p>
<h2>Kdo mi bo dostavil?</h2>
<p>Pošiljko vam bo dostavila Pošta Slovenije.</p>
<h2>Če mi izdelek ni všeč, ga lahko vrnem?</h2>	
<p>Seveda, pošljite nam ga na naš naslov in vam bomo v celoti vrnili odkupnino, če izdelek ni poškodovan.</p>